<link rel="stylesheet" type="text/css" href="includes/css/cssConnexion.css">
<body>
<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="http://blog.laplateformedelarenovation.fr/wp-content/uploads/2015/10/avatar-rpe-administrateur.jpg" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" method="POST" action="index.php?uc=authentification&action=tryLogin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputEmail" class="form-control" placeholder="Matricule" name="login" required autofocus>
            <input type="password" id="inputPassword" class="form-control" name="mdp" placeholder="Mot de passe" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" onClick="submit('contact-form');">Se connecter</button>
        </form>
    </div>
</div>
</body>