<!doctype html>
<html class="boxed header-fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Votre application de voyage</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
          rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="vues/template/vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="vues/template/vendor/animate/animate.css">

    <link rel="stylesheet" href="vues/template/vendor/font-awesome/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="vues/template/vendor/magnific-popup/magnific-popup.css"/>
    <link rel="stylesheet" href="vues/template/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css"/>

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="vues/template/vendor/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" href="vues/template/vendor/jquery-ui/jquery-ui.theme.css"/>
    <link rel="stylesheet" href="vues/template/vendor/bootstrap-multiselect/bootstrap-multiselect.css"/>
    <link rel="stylesheet" href="vues/template/vendor/morris/morris.css"/>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="vues/template/css/theme.css"/>

    <!-- Skin CSS -->
    <link rel="stylesheet" href="vues/template/css/skins/default.css"/>

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="vues/template/css/custom.css">

    <!-- Head Libs -->
    <script src="vues/template/vendor/modernizr/modernizr.js"></script>

</head>
<body>
<section class="body">


    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside style="opacity: 1;" id="sidebar-left" class="sidebar-left">


            <div class="nano">
                <div class="nano-content">
                    <nav id="menu" class="nav-main" role="navigation">

                        <ul class="nav nav-main">
                            <li>
                                <div class="col-lg-12 col-xl-12">
                                    <section class="card mt-4">
                                        <header class="card-header bg-primary">
                                            <div class="card-header-icon">
                                                <i class="fas fa-globe"></i>
                                            </div>
                                        </header>
                                        <div class="card-body text-center">
                                            <h3 class="font-weight-semibold mt-3 text-center">Administration du site </h3>
                                            <p class="text-center">Sur cet interface, vous pouvez créer modifier des villes. Pour chacune de ces villes vous pouvez créer, modifier et supprimer des activités. </p>
                                            Enfin, vous pouvez mettre à jour les températures de vos villes automatiquement.
                                        </div>
                                    </section>
                                </div>
                                <div class="thumb-info col-md-12 text-center" style="margin-top: 45px;">
                                    <img src="https://www.aeroport-rodez.fr/wp-content/uploads/2019/02/image-a-la-une-orly-4.png"
                                         class="rounded img-fluid">
                                </div>
                            </li>
                        </ul>
                    </nav>

                </div>

                <script>
                    // Maintain Scroll Position
                    if (typeof localStorage !== 'undefined') {
                        if (localStorage.getItem('sidebar-left-position') !== null) {
                            var initialPosition = localStorage.getItem('sidebar-left-position'),
                                sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                            sidebarLeft.scrollTop = initialPosition;
                        }
                    }
                </script>


            </div>

        </aside>
        <!-- end: sidebar -->

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>Administration du site</h2>

                <div class="right-wrapper text-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="index.php?uc=authentification">
                                <i class="fas fa-user-edit">se déconnecter</i>
                            </a>

                        </li>
                    </ol>

                    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
                </div>
            </header>
            {% block content %}
                <a class="btn btn-warning" href="index.php?uc=majTemp">Mettre à jour les températures</a>
                <a class="btn btn-success" href="index.php?uc=authentification&action=createCity">Nouvelle ville</a>

                <section class="card">
                    <header class="card-header">
                        <div class="card-actions">
                            <a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
                            <a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
                        </div>

                        <h2 class="card-title">Villes disponible</h2>
                    </header>
                    <div class="card-body">
                        <table class="table table-responsive-md table-striped mb-0">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Image</th>
                                <th>Nom</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for ville in villes %}
                                <tr>
                                    <td><img class="img-fluid" src="{{ ville.villeImage }}" style="max-height: 150px; max-width: 150px; width: 150px; height: 150px;"></td>
                                    <td>{{ ville.villeNom }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="index.php?uc=authentification&action=updateCity&numCity={{ ville.villeId }}">Modifier</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" href="index.php?uc=authentification&action=deleteCity&numCity={{ ville.villeId }}">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </section>
            {% endblock %}
            <!-- end: page -->
        </section>
    </div>


</section>


<!-- Vendor -->
<script src="vues/template/vendor/jquery/jquery.js"></script>
<script src="vues/template/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="vues/template/vendor/popper/umd/popper.min.js"></script>
<script src="vues/template/vendor/bootstrap/js/bootstrap.js"></script>
<script src="vues/template/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="vues/template/vendor/common/common.js"></script>
<script src="vues/template/vendor/nanoscroller/nanoscroller.js"></script>
<script src="vues/template/vendor/magnific-popup/jquery.magnific-popup.js"></script>
<script src="vues/template/vendor/jquery-placeholder/jquery-placeholder.js"></script>

<!-- Specific Page Vendor -->
<script src="vues/template/vendor/jquery-ui/jquery-ui.js"></script>
<script src="vues/template/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
<script src="vues/template/vendor/jquery-appear/jquery-appear.js"></script>
<script src="vues/template/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="vues/template/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
<script src="vues/template/vendor/flot/jquery.flot.js"></script>
<script src="vues/template/vendor/flot.tooltip/flot.tooltip.js"></script>
<script src="vues/template/vendor/flot/jquery.flot.pie.js"></script>
<script src="vues/template/vendor/flot/jquery.flot.categories.js"></script>
<script src="vues/template/vendor/flot/jquery.flot.resize.js"></script>
<script src="vues/template/vendor/jquery-sparkline/jquery-sparkline.js"></script>
<script src="vues/template/vendor/raphael/raphael.js"></script>
<script src="vues/template/vendor/morris/morris.js"></script>
<script src="vues/template/vendor/gauge/gauge.js"></script>
<script src="vues/template/vendor/snap.svg/snap.svg.js"></script>
<script src="vues/template/vendor/liquid-meter/liquid.meter.js"></script>
<script src="vues/template/vendor/jqvmap/jquery.vmap.js"></script>
<script src="vues/template/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
<script src="vues/template/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
<script src="vues/template/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
<script src="vues/template/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
<script src="vues/template/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
<script src="vues/template/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
<script src="vues/template/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
<script src="vues/template/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="vues/template/js/theme.js"></script>

<!-- Theme Custom -->
<script src="vues/template/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="vues/template/js/theme.init.js"></script>

<!-- Examples -->
<script src="vues/template/js/examples/examples.dashboard.js"></script>
</body>
</html>

